@media screen and (min-width: 2200px) {
	body>.widget {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	.form-control {
		background-clip: padding-box;
	}
	.protected-by {
		display: none;
	}
}

*, :after, :before {
	outline: none !important;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	color: #333337;
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	border-style: none;
}

a {
	text-decoration: none;
}

form {
	width: 100%;
}

.widget {
	display: none;
	position: relative;
	width: 293px;
	border-radius: 6px;
	margin: 6% auto 40px;
	background-color: #fff;
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .4), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
	-moz-box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .4), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
	-webkit-box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .4), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
}

.widget-body-wrapper {
	padding: 32px 32px 32px 32px;
	border-radius: 6px;
}

.widget:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: inherit;
	z-index: -1;
}

.widget.shake {
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-name: shakeAnimation;
	-moz-animation-duration: 400ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-name: shakeAnimation;
}

.widget.show {
	display: block;
}

.widget.open {
	display: block;
	-webkit-animation-duration: 350ms;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-name: fadeInUp;
	-moz-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-name: fadeInUp;
}

.widget.close {
	-webkit-animation-duration: 220ms;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-name: fadeInOut;
	-moz-animation-duration: 220ms;
	-moz-animation-timing-function: ease-in;
	-moz-animation-name: fadeInOut;
}

.samsungpay-button-block {
	text-align: left;
	background: #fff;
	cursor: pointer;
	margin-top: 5px;
	border-radius: 5px;
}

.samsungpay-button {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0;
	vertical-align: middle;
	display: inline-block;
	width: 110px;
	height: 25px;
}

.samsungpay-sum {
	vertical-align: baseline;
	height: 24px;
	display: inline-block;
}

.googlepay-button-block {
	margin-top: 5px;
}

.googlepay-button {
	display: inline-block;
	margin: 0 8px 8px 0;
}

.googlepay-sum {
	display: inline-block;
	font-weight: bold;
}

@-webkit-keyframes shakeAnimation {
	0 {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	12.5% {
		-webkit-transform: translateX(-6px) rotateY(-5deg);
		-moz-transform: translateX(-6px) rotateY(-5deg);
		-ms-transform: translateX(-6px) rotateY(-5deg);
		-o-transform: translateX(-6px) rotateY(-5deg);
		transform: translateX(-6px) rotateY(-5deg);
	}
	37.5% {
		-webkit-transform: translateX(5px) rotateY(4deg);
		-moz-transform: translateX(5px) rotateY(4deg);
		-ms-transform: translateX(5px) rotateY(4deg);
		-o-transform: translateX(5px) rotateY(4deg);
		transform: translateX(5px) rotateY(4deg);
	}
	62.5% {
		-webkit-transform: translateX(-3px) rotateY(-2deg);
		-moz-transform: translateX(-3px) rotateY(-2deg);
		-ms-transform: translateX(-3px) rotateY(-2deg);
		-o-transform: translateX(-3px) rotateY(-2deg);
		transform: translateX(-3px) rotateY(-2deg)
	}
	87.5% {
		-webkit-transform: translateX(2px) rotateY(1deg);
		-moz-transform: translateX(2px) rotateY(1deg);
		-ms-transform: translateX(2px) rotateY(1deg);
		-o-transform: translateX(2px) rotateY(1deg);
		transform: translateX(2px) rotateY(1deg);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0.5;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		-webkit-transform: translate3d(0, 6%, 0) scale3d(0.99, 0.99, 0.99) rotate3d(1, 0, 0, -10deg);
		-moz-transform: translate3d(0, 6%, 0) scale3d(0.99, 0.99, 0.99) rotate3d(1, 0, 0, -10deg);
		transform: translate3d(0, 6%, 0) scale3d(0.99, 0.99, 0.99) rotate3d(1, 0, 0, -10deg);
	}
	75% {
		-webkit-transform: translate3d(0, -0.3%, 0) scale3d(1.006, 1.006, 1.006);
		-moz-transform: translate3d(0, -0.3%, 0) scale3d(1.006, 1.006, 1.006);
		transform: translate3d(0, -0.3%, 0) scale3d(1.006, 1.006, 1.006);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInOut {
	from {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	50% {
		opacity: .1;
	}
	70% {
		opacity: .05;
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		-webkit-transform: translate3d(0, 10%, 0) scale3d(0.99, 0.99, 0.99) rotate3d(1, 0, 0, -20deg);
		-moz-transform: translate3d(0, 10%, 0) scale3d(0.99, 0.99, 0.99) rotate3d(1, 0, 0, -20deg);
		transform: translate3d(0, 10%, 0) scale3d(0.99, 0.99, 0.99) rotate3d(1, 0, 0, -20deg);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.fadeInOut {
	-webkit-animation-name: fadeInOut;
	-moz-animation-name: fadeInOut;
	animation-name: fadeInOut;
}

.input-wrapper__card.jp-card-invalid.error {
	position: relative;
	z-index: 999;
}

#payment_card_cardNumber {
	background-image: none !important;
}

.payment-methods {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-content: stretch;
	border-width: 1px 0 0 1px;
}

.pay__method {
	width: 76px !important;
	height: 60px !important;
	border-width: 0 1px 1px 0;
	background: #fff;
}

.payment-methods {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.payment-methods .pay__method:first-of-type {
	border-top-left-radius: 3px;
}

.payment-methods .pay__method:nth-of-type(3) {
	border-top-right-radius: 3px;
}

.payment-methods, .payment-methods>.pay__method {
	border-style: solid;
	border-color: #E0E1E2;
}

a.icopay-visa {
	background-position: 50% 50% !important;
	background-size: 2.85em !important;
}

a.icopay-mastercard {
	background-position: 50% 50% !important;
	background-size: 2.45em !important;
}

a.icopay-maestro {
	background-position: 50% 50% !important;
	background-size: 2.5em !important;
}

a.icopay-mir {
	background-position: 50% 50% !important;
	background-size: 2.87em !important;
}

a.icopay-webmoney {
	background-position: 50% 50% !important;
	background-size: 3.6em !important;
}

a.icopay-alfaClick {
	background-position: 48% 58% !important;
	background-size: 4.5em !important;
}

a.icopay-yandex {
	background-position: 50% 50% !important;
	background-size: 1.8em !important;
}

a.icopay-qiwi {
	background-position: 50% 52% !important;
	background-size: 1.65em !important;
}

a.icopay-paypal {
	background-position: 50% 56% !important;
	background-size: 1.4em !important;
}

a.icopay-mts {
	background-position: 50% 50% !important;
	background-size: 1.40em !important;
}

a.icopay-mf {
	background-position: 50% 50% !important;
	background-size: 3.7em !important;
}

a.icopay-beeline {
	background-position: 50% 50% !important;
	background-size: 2.4em !important;
}

a.icopay-tele2 {
	background-position: 50% 50% !important;
	background-size: 4.2em !important;
}

a.icopay-cash, a.icopay-euroset, a.icopay-svyaznoy {
	background-position: 50% 50% !important;
	background-size: 1.62em !important;
}

.form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 5px 9px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	background-color: #fff;
	background-image: none;
	border: 1px solid #E0E1E2;
	border-radius: 3px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	letter-spacing: 0.025em !important;
	padding-left: 30px;
}

input:not([type="submit"]), textarea, select {
	color: #1d2227;
}

input:focus {
	border-radius: 3px !important;
	outline: none;
	z-index: 50 !important;
}

.input-prepend input:focus {
	border-radius: 0 3px 3px 0 !important;
}

input:not(.error):focus {
	border: 1px solid #6eb5db;
	box-shadow: inset 0 1px 0 1px rgba(217, 222, 222, 0.18), 0 0 0 3px rgba(139, 181, 213, 0.20);
	-webkit-box-shadow: inset 0 1px 0 1px rgba(217, 222, 222, 0.18), 0 0 0 3px rgba(139, 181, 213, 0.20);
	-moz-box-shadow: inset 0 1px 0 1px rgba(217, 222, 222, 0.18), 0 0 0 3px rgba(139, 181, 213, 0.20);
}

input.error:focus {
	box-shadow: 0 0 0 3px rgba(200, 87, 77, 0.25);
	-webkit-box-shadow: 0 0 0 3px rgba(200, 87, 77, 0.25);
	-moz-box-shadow: 0 0 0 3px rgba(200, 87, 77, 0.25);
	z-index: 60;
}

::-webkit-input-placeholder {
	letter-spacing: 0.005em;
	color: inherit;
	opacity: .42;
	text-indent: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

::-moz-placeholder {
	letter-spacing: 0.005em;
	color: inherit;
	opacity: .42;
	text-indent: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

:-moz-placeholder {
	letter-spacing: 0.005em;
	color: inherit;
	opacity: .42;
	text-indent: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

:-ms-input-placeholder {
	letter-spacing: 0.005em;
	color: inherit;
	opacity: .42;
	text-indent: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

label {
	display: block;
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #767678;
}

.form-group {
	position: relative;
	margin-bottom: 15px;
}

.form-group input {
	position: relative;
}

.form-group svg {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.form-group.error svg {
	fill: #c8574d !important;
}

.pre-valid svg {
	fill: #508600;
}

.form-group.error input {
	border-color: #c8574d;
	color: #c8574d;
}

.form-group.error ::-webkit-input-placeholder {
	opacity: 1;
}

.form-group.error ::-moz-placeholder {
	opacity: 1;
}

.form-group.error :-moz-placeholder {
	opacity: 1;
}

.form-group.error :-ms-input-placeholder {
	opacity: 1;
}

.form-group.error input {
	z-index: 30;
}

.input-prepend {
	display: flex;
	display: -webkit-flex;
}

.input-prepend .add-on {
	padding: 0 9px;
	padding-right: 8px;
}

.input-prepend .btn {
	flex-direction: inherit;
	-webkit-flex-direction: inherit;
	font-size: 14px;
	font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
	color: #333337;
	height: inherit;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: none;
}

.input-prepend .btn:hover {
	border-color: #d3d3d6;
}

.input-prepend .btn span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-prepend .btn .fa {
	margin-left: 3px;
}

.input-prepend .form-control {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding-left: 8px;
}

.expiry-date-group {
	float: left;
	width: 50%;
}

.security-code-group {
	float: right;
	width: 50%;
}

.security-code-group input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.expiry-date-group input {
	width: calc(100% + 1px);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-color: #EcEcEe;
}

.btn[type=submit] {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 38px;
	font-size: 16px;
	border: none;
	margin-top: 26px;
	-webkit-transition: all .05s;
	-moz-transition: all .05s;
	transition: all .05s;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .12);
	-webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .12);
	color: #fff;
	background-color: #469fd6;
}

.btn[type=submit]:hover {
	background-color: #4aa5df;
	border: none;
}

.btn[type=submit]:active {
	background-color: #439ace;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, .12);
	-moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .12);
	-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .12);
}

.btn[type=submit] .fa {
	font-size: 14px;
}

.btn.disabled[type=submit] {
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	transition: all .15s;
	background: #9dcee5;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
}

.btn {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	vertical-align: middle;
	padding: 0;
	height: 30px;
	font-size: 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddf;
	border-radius: 3px;
	color: #4c4c54;
	background-color: #fff;
	white-space: nowrap;
	touch-action: manipulation;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn:hover {
	border-color: #d1d1d3;
}

.btn.active {
	background: #f4f5f7;
}

.btn:active {
	background: #fcfcfd;
}

.btn.active:hover {
	color: #5a5a64;
}

.btn-group {
	white-space: nowrap;
	display: flex;
	display: -webkit-flex;
}

.btn-group .btn {
	border-radius: 0;
	border-left-width: 0;
	border-color: #E0E1E2;
}

.btn-group .btn:hover {
	color: #5a5a64;
	border-color: #d3d3d6;
}

.btn-group .btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left-width: 1px;
}

.btn-group .btn:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.form-group .fa-question-circle:hover {
	color: #c2c2c6;
}

.input-container {
	position: relative;
}

a.widget-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	background: #eef0f1;
	width: 17px;
	height: 17px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	line-height: 16px;
	text-shadow: 0 1px 0 #f0f1f2, 0 0 0 #575859, 0 1px 0 #f0f1f2;
	-moz-text-shadow: 0 1px 0 #f0f1f2, 0 0 0 #575859, 0 1px 0 #f0f1f2;
	-webkit-text-shadow: 0 1px 0 #f0f1f2, 0 0 0 #575859, 0 1px 0 #f0f1f2;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .06);
	-moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, .06);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .06);
}

a.widget-close .fa {
	right: -.5px;
	position: relative;
}

a.widget-close:hover {
	background: #e8e9ea;
	text-shadow: 0 1px 0 #e9eaeb, 0 0 0 #575859, 0 1px 0 #e9eaeb;
}

.card-number-group {
	margin-bottom: 0;
}

.card-number-group input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
}

.expiry-date-group input, .security-code-group input {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.security-code-group input {
	border-top-color: #EcEcEe;
	border-left-color: #EcEcEe;
}

.card-cvc {
	letter-spacing: 0;
	-webkit-text-security: disc;
	text-security: disc;
	-moz-text-security: disc;
}

.card-cvc::placeholder {
	letter-spacing: 0;
}

.card-cvc:-ms-input-placeholder {
	letter-spacing: 0;
}

.card-cvc::-ms-input-placeholder {
	letter-spacing: 0;
}

.ac {
	text-align: center;
}

.payment-methods-menu {
	margin-bottom: 26px;
}

.btn-group .btn {
	width: 100%;
}

.payment-info {
	margin-top: -2px;
	margin-bottom: 16px;
	text-align: center;
}

.payment-info .payment-amount {
	font-size: 1.72em;
	color: #323234;
	margin-bottom: 4px;
}

.payment-info .payment-message {
	font-size: .66em;
	line-height: 18px;
	color: #99999b;
	margin: 0;
	text-transform: uppercase
}

.Textbox-iconLeft {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3px;
	pointer-events: none;
	z-index: 50;
}

.Textbox-right {
	color: #d3d3d6;
	width: 28px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	top: 9px;
	right: 4px;
	cursor: pointer;
	text-align: center;
	padding-left: 3px;
	border-left: 1px solid #f1f1f4;
	z-index: 50;
}

.card-number-group .Textbox-iconLeft {
	left: 2px;
}

.Textbox-iconLeft .Icon {
	display: block;
	height: 100%;
}

.Textbox-iconLeft .Icon {
	width: 30px;
	height: 100%;
}

svg:not(:root) {
	overflow: hidden;
	color: rgba(70, 159, 214, 0.9);
}

.widget-body__content {
	display: none;
}

.widget-body__content.active {
	display: flex;
	display: -webkit-flex;
}

.alert {
	position: relative;
	left: -32px;
	width: calc(100% + 64px);
	padding: 20px 32px;
	border-width: 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	font-size: 12px;
	color: #a3a3a5;
	line-height: 18px;
	background: #fff;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert-info {
	border-color: #f0f1f2;
}

.alert-info a {
	color: #a3a3a5;
	border-bottom: 1px dotted #d2d2d6;
}

.alert-info a:hover {
	color: #ec8526;
	border-bottom: none;
}

.alert-error {
	background-color: #fefafa;
	border-top: 1px solid #edd4d2;
	border-bottom: 1px solid #edd4d2;
	color: #c8574d;
}

.alert-error .fa {
	display: block;
	font-size: 24px;
	margin-bottom: 6px;
	color: #cd5858;
}

.Icon-wrapper-text {
	color: #333337;
	padding-left: 8px;
	padding-right: 9px;
	font-size: 14px;
	font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
	line-height: 38px;
	border-right: 1px solid #EcEcEe;
}

.Icon-wrapper-text span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Icon-wrapper-button {
	display: block;
}

.form-control-text {
	padding-left: 43px;
}

.form-control-simple {
	padding-left: 10px;
}

.widget-body__content .btn-group .btn {
	font-size: 12px;
	padding: inherit;
	height: 36px;
	color: #333337;
}

.widget-body__content .btn-group {
	margin-bottom: 15px;
}

.icon-holder {
	width: 93px;
	height: 93px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	line-height: 2px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 23px;
	border: 1px solid #d1d2d4;
}

.icon-holder.check .fa {
	font-size: 43px;
	color: #cacbce;
	margin-left: 7px;
	margin-top: 6px;
}

.icon-holder-svg {
	width: 97px;
	height: 97px;
	margin-bottom: 19px;
}

.icon-holder svg {
	width: 100%;
	height: 100%;
	margin-top: -3px;
}

.receipt .payment-amount {
	font-size: 32px;
	color: #5b5d5f;
	margin-bottom: 6px;
}

.receipt .payment-message {
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 18px;
	color: #868889;
}

.receipt .payment-message a {
	color: #008ee8;
}

.receipt .payment-message a:hover {
	color: #ec8526;
}

.receipt__complete .icon-holder {
	color: #fff;
	border: none;
	border: none;
}

.receipt__complete .icon-holder .fa {
	font-size: 39px;
	margin-left: 2px;
	margin-top: 2px;
}

.icon-holder.successful {
	background: #62d0cd;
}

.icon-holder.error {
	background: #f9b54f;
}

.icon-holder.error-pay {
	background: #f9b54f;
}

.icon-holder.refund {
	background: #fff;
	border: 1px solid #d1d2d4;
	color: #c8c9cb;
}

.btn-receipt {
	color: 'red' !important;
	height: 40px;
	width: 100%;
	font-size: 16px;
	line-height: 1px;
}

/* PHOEN WIDGET */

.Icon-wrapper-button {
	position: relative;
	z-index: 9999;
}

.Icon-wrapper-button:hover {
	cursor: pointer;
}

.dropdown-menu {
	display: none;
	width: 379px;
	position: absolute;
	top: 100px;
	left: calc(50% - 189px);
	z-index: 1000;
	padding: 8px 0;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .4), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
	-moz-box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .4), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
	-webkit-box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .4), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
	font-size: 13px;
	border-top: 1px solid #f4f5f7;
}

.dropdown-menu.open {
	display: flex;
	display: -webkit-flex;
}

.dropdown-menu a {
	text-decoration: none;
	display: block;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333337;
	white-space: nowrap
}

.dropdown-menu a:hover, .dropdown-menu a.active {
	background-color: #f2f3f5;
}

.phone-codes a:hover .label, .phone-codes a.active .label {
	color: #333337;
}

.dropdown-menu a.disabled {
	color: #989998;
}

.phone-codes a {
	padding: 5px 15px;
}

.phone-codes .label {
	float: right;
	color: #989998;
}

.phone-codes ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 50%;
}

.phone-codes ul:last-of-type {
	border-left: 1px solid #eee;
}

.protected-by {
	position: fixed;
	bottom: 14px;
	left: 14px;
	border: 1px solid #ddd;
	color: #fff;
	border-radius: 5px;
	font-weight: 700;
	font-size: 11px;
	padding-left: 9px;
	padding-right: 9px;
	height: 28px;
	line-height: 26px;
	opacity: 0.4;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .32);
	-moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, .32);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .32);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
}

.protected-by:hover {
	opacity: 0.7;
	border: 1px solid #aaa;
}

/** Tooltip */

.tooltip {
	position: absolute;
	z-index: 1020;
	display: none;
	visibility: visible;
	padding: 5px;
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
	line-height: 18px;
	text-shadow: none;
	-webkit-animation: fadein 0.25s;
	-moz-animation: fadein 0.25s;
	-ms-animation: fadein 0.25s;
	-o-animation: fadein 0.25s;
	animation: fadein 0.25s;
}

.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80)
}

.tooltip.top {
	margin-top: -3px
}

.tooltip.right {
	margin-left: 3px
}

.tooltip.bottom {
	margin-top: 3px
}

.tooltip.left {
	margin-left: -3px
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.right .tooltip-arrow {
	top: 35%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.security-code-group .tooltip {
	bottom: 22px;
	right: -45px;
	width: 116px;
}

form[name='payment_alfaclick'] .Textbox-right .tooltip {
	bottom: 22px;
	right: -58px;
	width: 142px;
}

.Textbox-right:hover {
	color: #b0b0b4;
}

.Textbox-right:hover .tooltip {
	display: block;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

.form-group.error .Textbox-right {
	color: #d1736a;
	border-color: #eabfbb;
}


.btn .active{
	color: red !important;
}
