.question-header {
  font-weight: 600;
  padding: 10px 10px 30px 0;
  color: rgba(0, 0, 0, 0.87);
  color: rgb(182, 182, 182);
  color: #757575;
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
}

.question-count {
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 10px 20px 0;
  font-weight: 600;
  font-size: 16px;
}

.question-text {
  padding: 20px;
}
.paperRoot {
  height: 300px;
  overflow-x: scroll;
}
